header {
    position: fixed;
    top: 0;
    left: 0;
    height: 80px;
    width: 100%;
    background-color: var(--background);
    box-shadow: var(--shadow);
    z-index: 9999;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    padding: 0 50px;
}

.logo a {
    display: flex;
    align-items: center;
    gap: 15px;
}

.logo img {
    width: 40px;
}

.logo h1 {
    font-size: 24px;
    font-weight: 700;
    color: var(--primary);
}

nav ul {
    display: flex;
    align-items: center;
    gap: 35px;
}

.register a {
    background-color: var(--primary);
    color: var(--text-white);
    padding: 16px 24px;
    border-radius: 50px;
}

.register a:hover {
    background-color: var(--primary-hover);
}