.recette{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.details{
    flex: 3;
    overflow: auto;
}

.recomendations{
    flex: 1;
    border: solid 1px black;
    height: 100%;
}

.flexStar{
    display: flex;
    flex-direction: row;
    justify-content: space-between;

}

.recomendations{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.imgrecomendation{
    width: 40%;
    height: 100%;
}

.descriptionReco{
    overflow: auto;
    height: 3em;
}